.sender {
    color: blue;
}
.receiver{
    color: red;
}
.botton-fix { background: #000; padding: 3px; position: fixed; bottom: 0; width: 100%; }

.img-thumb{
    height: 80px;width: 80px
}

.small-div{
    width: 100px;
    height: 100px;
}